<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= project.content %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= project.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= project.enddate %>
  </p>

</div>
