<div class="card mt-5">
  <div class="card-header">
    <h1>Project</h1>
  </div>
  
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= simple_format(@project.content) %>
    </p>

    <p>
      <strong>Startdate:</strong>
      <%= @project.startdate.strftime("%B %d, %Y at %I:%M %p") if @project.startdate %>
    </p>

    <p>
      <strong>Enddate:</strong>
      <%= @project.enddate.strftime("%B %d, %Y at %I:%M %p") if @project.enddate %>
    </p>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
